@media only screen 
  and (min-device-width: 376px) 
  and (max-device-width: 767px)
  and (-webkit-min-device-pixel-ratio: 1) {
    body {
        color: #777777;
        background-image: url("./../images/white-waves.png");
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
      }
      
      header {
        text-align: center;
        background-color: #ffffff;
        border-bottom: 1px solid #cccccc;
        width: auto;
        padding: 0px;
        margin: 0;
      }
      
      #navigationBar {
        align-content: center;
        display: inline-block;
        width: auto;
        background-color: #ffffff;
        margin-bottom: 1px;
        padding: 8px;
      }
      
      h1 {
        font-family: 'Georgia', Times, Times New Roman, serif;
        display: inline;
        margin-right: 84px;
        color: white;
        background-color: #4aaaa5;
        padding: 8px;
        font-size: 80%;
      }
      
      div.container {
        min-height: 100%;
        width: 350px;
        margin: 0 auto;
        padding: 10px;
      }

      #bio-image{
          width: 180px;
          height: 120px;
      }
      
      a {
        clear: all;
        font-weight: normal;
        text-decoration: none;
        color: #cccccc;
        font-size: 100%;
      }
      
      h2 {
        font-family: 'Georgia', Times, Times New Roman, serif;
        color: #4aaaa5;
        font-size: 80%;
      }
      
      h6 {
        color: #eeeeee;
        margin-left: 1px;
        margin-right: 1px;
        display: inline;
        font-size: 10px;
      }
      
      a:hover {
        color: black;
      }
      
      h4 {
        color: #777777;
        margin-top: 15px;
        margin-bottom: 8px;
        font-weight: normal;
        font-size: 70%;
      }
      
      hr {
        size: 1px;
        color: #dddddd;
      }
      
      #about-me {
        display: inline-block;
        text-align: left;
        padding: 9px;
        background-color: #ffffff;
      }
      
      #portfolio {
        text-align: left;
        padding: 9px;
        background-color: #ffffff;
      }
      
      #contact {
        text-align: left;
        padding: 9px;
        background-color: #ffffff;
      }
      
      p {
        font-size: 12px;
      }
      
      img {
        float:left;
        margin-top: 10px;
        margin-right: 10px;
      }
      
      hr {
        border: 1px solid #dddddd;
      }
      
      input {
        font-size: 60%;
        height: 15px;
        width: 300px;
        border: .5px solid #cccccc;
      }
      
      textarea {
        height: 220px;
        width: 300px;
        border: .5px solid #cccccc;
        font-size: 60%;
      }
      
      button {
        background-color: #4aaaa5;
        border: none;
        color: white;
        padding: 6px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 9px;
        cursor: pointer;
      }
      
      button:hover {
        background-color: #357975;
      }
      

      footer {
        height: 25px;
        border-top: 2px solid #4aaaa5;
        background-color: #666666;
        color: white;
        width: auto;
        font-size: 7px;
        text-align:center;
        padding: 5px;
      }

}