body {
  color: #777777;
  background-image: url("./../images/white-waves.png");
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

header {
  text-align: center;
  background-color: #ffffff;
  border-bottom: 2px solid #cccccc;
  padding: 30px;
  margin: 0;
}

#navigationBar {
  align-content: center;
  display: inline-block;
  width: 960px;
}

h1 {
  font-family: 'Georgia', Times, Times New Roman, serif;
  display: inline;
  margin-right: 390px;
  color: white;
  background-color: #4aaaa5;
  padding: 30px;
}

div.container {
  height: 960px;
  width: 960px;
  margin: 0 auto;
  padding: 40px;
}

a {
  clear: all;
  font-weight: normal;
  text-decoration: none;
  color: #cccccc;
}

h2 {
  font-family: 'Georgia', Times, Times New Roman, serif;
  color: #4aaaa5;
  font-size: 180%;
}

h6 {
  color: #eeeeee;
  margin-left: 5px;
  margin-right: 5px;
  display: inline;
  font-size: 100%;
}

a:hover {
  color: black;
}

h4 {
  color: #777777;
  margin-top: 15px;
  margin-bottom: 8px;
  font-weight: normal;
}

hr {
  size: 4px;
  color: #dddddd;
}

#about-me {
  text-align: left;
  padding: 20px;
  background-color: #ffffff;
}

#portfolio {
  text-align: left;
  padding: 20px;
  background-color: #ffffff;
}

#contact {
  text-align: left;
  padding: 20px;
  background-color: #ffffff;
}

p {
  font-size: 120%;
}

img {
  float:left;
  margin-top: 20px;
  margin-right: 20px;
}

hr {
  border: 1px solid #dddddd;
}

input {
  font-size: 12px;
  height: 25px;
  width: 915px;
}

textarea {
  height: 200px;
  width: 915px;
  border: .5px solid #cccccc;
}

button {
  background-color: #4aaaa5;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
}

button:hover {
  background-color: #357975;
}

footer {
  bottom: 0;
  width: 100%;
  position: fixed;
  border-top: 8px solid #4aaaa5;
  background-color: #666666;
  color: white;
  font-size:small;
  text-align:center;
  padding: 20px;
}

  